body {
  background-color: #001f3f;
  color: #fff;
  padding-top: 100px;
}

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #bbb;
}

.loader {
  display: block;
  width: 80px;
  height: 80px;
  margin: 100px auto;
}

.container {
  max-width: 800px;
  font-size: 125%;
  margin: 0 auto;
}

.btn {
  background-color: #7FDBFF;
  border-radius: 30px;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  font-size: 115%;
  display: block;
  margin: 0 auto;
}

.notification {
  position: absolute;
  top: 3px;
  left: 100px;
  border-radius: 5px;
  background: #fff;
  color: #555;
  box-shadow: 0 2px 4px 0 rgba(0,0,0, 1);
  padding: 15px;
  width: 295px;
}

.notification-icon {
  width: 14px;
  height: 14px;
  opacity: 0.6;
  position: relative;
  top: 3px;
  margin-right: 5px;
}

.notification-text {
  padding: 0 0 0 5px;
  margin: 0;
}

.notification-choices {
  text-align: right;
}

.notification-choices > * {
  display: inline-block;
  border: 1px solid #ccc;
  color: #666;
  border-radius: 5px;
  padding: 8px 16px;
  margin: 0 2px;
  cursor: pointer;
}

.cookies {
  position: absolute;
  background-color: rgba(000, 000, 000, 0.75);
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  padding: 15px 20px;
  font-size: 125%;
}

.choice-container {
  text-align: center;
}

.choice {
  background-color: #0074D9;
  border-radius: 15px;
  padding: 20px 30px;
  display: inline-block;
  min-width: 400px;
}

.choice-btn {
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 110%;
  cursor: pointer;
}

.subscription-container {
  text-align: center;
}

.subscription {
  display: inline-block;
  background: #0074D9;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  max-width: 800px;
}

.subscription-close {
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  color: #000;
  border-radius: 100%;
  cursor: pointer;
  font-size: 20px;
}

.recommend {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  color: #111;
  padding: 25px;
}

.recommend-circles {
  display: flex;
  justify-content: center;
}

.recommend-circle {
  border: 1px solid #111;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}